<script>
export default {
  name: "MyToDo",
  components: {},
  data: function () {
    return {
      Todos: [],
      TodosUnDo: [],
      modo: new Array(100).fill(0),
    };
  },
  mounted: function () {},
  created: function () {
    this.carica();
  },
 
  methods: {
    salva() {
      localStorage.Todos = JSON.stringify(this.Todos);
    },
    carica() {
      if (localStorage.Todos) this.Todos = JSON.parse(localStorage.Todos);
      this.Todos = this.Todos.sort((a, b) => b.priorita - a.priorita);
    },
    elimina(idx) {
      this.Todos.splice(idx, 1);
      this.salva();
      this.carica();
    },

    aggiungi() {
      let newTodo = {
        descrizione: "",
        fatto: false,
        priorita: 0,
      };
      this.Todos.push(newTodo);
      this.edit(this.Todos.length-1)
    },
    edit(e) {
     
      this.modo[e] = 1;
      this.TodosUnDo = JSON.parse(JSON.stringify(this.Todos));
      this.$forceUpdate();
    },
    conferma(e) {
      this.modo[e] = 0;
      this.salva();
      this.carica();
    },
    annulla(e) {
      this.modo[e] = 0;
      this.Todos = JSON.parse(JSON.stringify(this.TodosUnDo));
      this.Todos = this.Todos.sort((a, b) => b.priorita - a.priorita);
    },
  },
};
</script>

<template>
  <div>
    <el-card style="width: 600px">
      <table>
        <th>Descrizione</th>
        <th>Priorità</th>
        <th>Fatto!</th>
        <th>Pulsanti</th>
        <tr v-for="(td, idx) in Todos" :key="idx">
          <td>
            <input type="text" v-model="td.descrizione">
          </td>

          <td>
            <div class="slidecontainer">
              <input type="range" min="1" max="10" value="1" class="slider" v-model="priorita">
              <p style="display:inline"> {{ priorita }} </p>
            </div>
          </td>

          <td>
            <input type="checkbox" v-model="td.fatto">
          </td>

          <td>
            <button
              @click="conferma(idx)"
            >Conferma</button>

            <button
              @click="edit(idx)"
            >Modifica</button>

            <button
              @click="annulla(idx)"
            >Annulla</button>

             <button
              @click="elimina(idx)"
            >Elimina</button>
          </td>
        </tr>
      </table>
      <div class="bottom clearfix">
        <button @click="aggiungi">Nuovo ToDo</button>
      </div>
    </el-card>
  </div>
</template>

<style lang="css">
td {
  padding-right: 2em;
  
}
input[type="text"]:disabled {
  background:aquamarine !important;
  color: black  !important;
  font-weight: normal;
}
input[type="text"]:enabled {
  background:lavender !important;
  color: blue  !important;
  font-weight: bold;
}
</style>
