<script>
import home from "../views/home.vue";
import MyCal from "../views/MyCal.vue";
import MyStick from "../views/StickBoard.vue";
import MyToDo from "../views/ToDo.vue";

export default
{
  name: "MainPage",
  components:
  {
    MyCal,
    MyStick,
    home,
  },

  data: function ()
  {
    return {};
  },

  created: function () {},

  methods: {},
};
</script>

<template>
<div>
  <!-- <router-link class="spacing" to="/calendar">Calendario</router-link> -->
  <div style="height:100%;float:left">
    <sui-menu is="sui-sidebar"
              id="docs-menu"
              vertical="true"
              animation="overlay"
              :visible="true"
              style="width:280px">
   
      <sui-menu-item>
        <sui-menu-menu>
          <router-link style="font-size:36px; font-family:Lato;" is="sui-menu-item" to="/ "> Home Page </router-link>
          <router-link style="font-size:36px; font-family:Lato;" is="sui-menu-item" to="/calendar">Calendario</router-link>
          <router-link style="font-size:36px; font-family:Lato;" is="sui-menu-item" to="/pinboard"> PinBoard </router-link>
          <router-link style="font-size:36px; font-family:Lato;" is="sui-menu-item" to="/todo"> To Do </router-link>
        </sui-menu-menu>
      </sui-menu-item>
    </sui-menu>
  </div>
  <div style="height:100%;float:right">
    <router-view></router-view>
  </div>
  </div> 
  
</template>

<style lang='css'>

</style>


